{% extends 'base.html' %}
{% block content %}

<div style="display: flex; flex-direction: column; align-items: center;">
    
    <h1>Welcome, {{username}}!</h1>

    <style>
        table, th, td {
            border: 1px solid black; 
            border-spacing: 0;
        }

        th, td {
            padding: 10px;
        }

        table {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

    <table>
        <tr>
            <th>Created on</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Mark</th>
            <th>Delete</th>
        </tr>
        
        {% for object in todolist %}
        <tr>
            <td>{{object.date}}</td>
            <td>{{object.title}}</td>
            <td>{{object.description}}</td>
            <td>
                {% if object.is_finished %}
                    Finished
                {% else %}
                    Not Finished
                {% endif %}
            </td>
            
            <td>
                <input type="checkbox" {% if object.is_finished %} checked {% endif %} onclick="location.href=`{% url 'todolist:mark_done' object.id %}`">
            <td>
                <button>
                    <a href="{% url 'todolist:delete_task' object.id %}">Delete</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div style="display:flex; flex-direction:row; margin-top: 20px;"">
        <button style="margin-right: 70px;">
            <a href="{% url 'todolist:create_task' %}">Add a new task</a>
        </button>

        <button>
            <a href="{% url 'todolist:logout' %}">Logout</a>
        </button>
    </div>

</div>
{% endblock content %}